/* responsive header styles start */
	#section_nav {
		vertical-align: top;
		height: 100%;
		min-width: 240px;
		display: inline-block;
		background: #F6F6F6;
		border-right: 1px solid rgb(213, 213, 213);
		float:left;
	}
	#section_nav.hidden { display:none; }
	#section_nav .dropdown ul.menuDepth_1 > li {
		width: 280px;
		display: block;
		float: none;
		clear: both;
		box-shadow: rgb(225, 225, 225) 0px 0px 10px;
	}
	#section_nav div.menu.dropdown ul li {border-bottom: 0;}
	#section_nav div.menu.dropdown ul ul ul {border-radius: 0 0 0 0;}
	#section_nav .dropdown ul.menuDepth_1 > li {background: #fff; border-bottom: solid 1px #E2E2E2; position: relative; cursor: pointer;} 
	#section_nav .dropdown ul.menuDepth_1 > li > a {font-size: 20px;}
	#section_nav .dropdown ul.menuDepth_2 {
		position: static;
		display: none;
	}
	#section_nav .dropdown ul.menuDepth_3 {position: static; border-left: 0; border: 0;}
	#section_nav .dropdown ul.menuDepth_2.expanded {display: block;}
	#section_nav .dropdown ul.menuDepth_2  > li { height: 50px; padding-left: 20px; font-size: 18px;}
	#section_nav .dropdown ul.menuDepth_3  > li { padding-left: 20px;}
	#section_nav .dropdown ul.menuDepth_2  > li > a, #section_nav .dropdown ul.menuDepth_2  > li > span  {font-size: 18px; font-weight: 200;}
	#section_nav .dropdown ul.menuDepth_2  > li > a > img { display: none;}
	#section_nav .dropdown ul li .menuDepth_2 .menuDepth_3, #section_nav .dropdown ul li .menuDepth_3 .menuDepth_4 {display: none;}
	#section_nav .dropdown ul li.mega-menu .menuDepth_2 .menuDepth_3 {display: block}
	#section_nav .menu.dropdown ul li ul.menuDepth_2, 
	#section_nav .menu.dropdown ul ul {width: 100%; box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);border:none;}
	#section_nav .menu.dropdown ul li::before{content:''; background: none; display: none;}
	
	#section_nav .dropdown ul li a.expands:after, div.menu.dropdown ul ul:before {display: none;}
	#section_nav .dropdown ul.menuDepth_2::after{display: none;}
	#section_nav .dropdown ul li.mega-menu .menuDepth_2 span {color: #1C92CA;}
	div.menu.dropdown ul ul li {display:table;}		
	#section_nav .plus_minus {position: absolute; top:5px; left: 240px; font-size:30px; text-align: center; display: inline-block; width:30px;}
	
	#header-mobile { float: left; width: 100%; display: flex; }
	#header-mobile #header-mobile-container { padding: 25px 10px; float: left; width: 100%; }
	#header-mobile #header-mobile-container a#mobile-menu {float: left; padding-top:8px;}
	#header-mobile #header-mobile-container a.logo {float: right;}
/* responsive header styles end */

/* responsive footer styles start */
		
		body.responsive .mobile-only {
			display: block;
		}
		body.responsive .desktop-only {
			display: none;
		}
		
		body.responsive #att-footer {
			width: 100%;	
		}
		body.responsive #att-footer #sitemap {
			clear: both;
			float: none;
			display: block;
			width: 100%;
		}
		body.responsive #att-footer #sitemap section {
			margin:0;
			border: 0;
			padding: 0;
		}	
		body.responsive #att-footer #sitemap section ul li a {
			font-size: 12px;
		}
		body.responsive #att-footer #sitemap section header {
			margin:0;
			border: 0;
			padding: 0 0 10px 0;
			font-size: 13px;
		}
		body.responsive #att-footer #sitemap section.apis {
			padding-left: 5%;
			padding-right: 2.5%;
			width: 25%;
		}
		body.responsive #att-footer #sitemap section.resources {
			padding-left: 2.5%;
			padding-right: 2.5%;
			width: 34%;
			border-left: solid 1px #ECECEC;
		}
		body.responsive #att-footer #sitemap section.support {
			padding-left: 2.5%;
			padding-right: 5%;
			width: 20%;
			border-left: solid 1px #ECECEC;
		}
		body.responsive #att-footer section.social-media-links.mobile-only {
			clear: both;
			float: none;
			width: 100%;
		}
		body.responsive #att-footer section.social-media-links.mobile-only ul {
			margin-bottom: 30px;
		}
		
		body.responsive #att-footer section.social-media-links.mobile-only ul li {
			width: 42%;
		}
		
		body.responsive #att-footer section.social-media-links.mobile-only li.facebook {
			margin: 0 2.5% 0 5%;
		}
		body.responsive #att-footer section.social-media-links.mobile-only li.twitter {
			margin: 0 5% 0 2.5%;
		}
		body.responsive #att-footer section.social-media-links.mobile-only li.googleplus {
			margin: 0 2.5% 0 5%;
		}
		body.responsive #att-footer section.social-media-links.mobile-only li.github {
			margin: 0 5% 0 2.5%;
		}

		body.responsive #att-footer .footer-bottom {
			margin: 0 auto;
			width: 100%;
			float:none;
			text-align: center;	
		}
		
		body.responsive #att-footer .logo,
		body.responsive #att-footer #links {
			float: none;
			width:100%;
			padding: 0;
			margin: 0;
			display: block;
			margin-bottom: 5px;
		}
		
		body.responsive #att-footer .logo .att-logo {
			margin:0;
			padding:0;
		}
		
		body.responsive #att-footer #trademark-notes.mobile-only {
			margin: 30px 0;
			width: 100%;
			padding: 0;
			border: none;
		}
		
		body.responsive #att-footer #links nav{
			font-size: 13px;
			float:none;
		}
		
		body.responsive #att-footer #links p {
			font-size: 12px;
			float:none;
			padding-top: 5px;
		}

		
		body.responsive #att-footer section.social-media-links.mobile-only ul li {
			width: 40%;
		}

		body.responsive #att-footer #trademark-notes p {
			margin: 0 auto;
			font-size: 7px;
			width: 100%;
		}
/* responsive footer styles end */