/.classpath
/.project
/.gradle
/.settings
/bin
/build
/*.epoch
/*.lck
/tmlog*.log
/.metadata
/activemq-data
/logs
/client/node_modules
/client/bower_components
/client/dist
/client/nodejs
bower_components
/src/main/webapp/resources/css
/src/main/webapp/resources/script
/src/main/webapp/resources/views
script
css
dist
/client/.settings
app
vendor
/server/bin
/server/build
/server/lib/tomcat
/server/*.project
/server/*.classpath
/server/.settings
/server/logs
