/.classpath
/.project
/.gradle
/.settings
/bin
/build
/*.epoch
/*.lck
/tmlog*.log
/.metadata
/activemq-data
/logs
/portal-client/node_modules
/portal-client/bower_components
/portal-client/dist
/portal-client/nodejs
bower_components
/portal-server/src/main/webapp/resources/css
/portal-server/src/main/webapp/resources/script
script
dist
/portal-client/.settings
vendor
/portal-server/bin
/portal-server/build
/portal-server/*.project
/portal-server/*.classpath
/portal-server/.settings
/portal-server/logs
/portal-client/dist/app.js
/portal-server/src/main/java/org
/portal-server/src/main/webapp/WEB-INF/web.xml
/server/build
/server/*.project
/server/*.classpath
/server/.settings
/performance/build
/performance/*.project
/performance/*.classpath
/performance/.settings
