/***** GENERAL FORM *****/
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
        position: relative;
		border: 1px solid #DDD;
		padding: 9px 14px;
		outline: none;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
        -moz-box-shadow: inset 0 2px 1px rgba(0,0,0,.03);
        -webkit-box-shadow: inset 0 2px 1px rgba(0,0,0,.03);
        box-shadow:  inset 0 2px 1px rgba(0,0,0,.03);
		font: 14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #333;
		margin: 0;
		width: 245px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; 
	}
	
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #83c3eb;
 		color: #333;
 		-moz-box-shadow: 0 0 5px rgba(127,201,239,.3);
		-webkit-box-shadow: 0 0 5px rgba(127,201,239,.3);
		box-shadow: 0 0 5px rgba(127,201,239,.3); 
	}
		
	textarea {
		min-height: 60px; 
	}
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px; 		
	}
	
	input,
	select,
	textarea,
	button,
	a.button {
		font-family: 'helvetica neue', helvetica, arial, sans-serif;
	}

	select {
		border:1px solid #e5e5e5;
		text-indent: 0.01px;
		text-overflow: '';
		width: 275px;
		height: 36px;
		cursor:pointer;
		padding: 7px;
		outline: none;
		font: 14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
		color: #333;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		appearance:none;
		-webkit-appearance:none; /* Safari and Chrome */
		-moz-appearance: none; /* Firefox */
		background-color:#fcfcfc;
		background-image:url(/developer/images/select_arrow.png), -moz-linear-gradient(top,#fff,#f7f7f7);
		background-image:url(/developer/images/select_arrow.png), -ms-linear-gradient(top,#fff,#f7f7f7);
		background-image:url(/developer/images/select_arrow.png),-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f7f7f7));
		background-image:url(/developer/images/select_arrow.png),-webkit-linear-gradient(top,#fff,#f7f7f7);
		background-image:url(/developer/images/select_arrow.png),-o-linear-gradient(top,#fff,#f7f7f7);
		background-image:url(/developer/images/select_arrow.png),linear-gradient(top,#fff,#f7f7f7);
		background-position: right !important; 
		background-repeat:no-repeat;
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f7f7f7',GradientType=0);
		behavior:url('/public/css/PIE.htc');
		box-shadow:0 1px 1px rgba(0,0,0,0.25);
		-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.25);
		-moz-box-shadow:0 1px 1px rgba(0,0,0,0.25);
	}
	
	input[type="submit"],
	input[type="button"],
	button,
	a.button{
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		text-align: center;
		display: inline-block;
		padding: 8px 20px;
		margin:0px;
		border:0;
		font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #FFF;
		text-decoration: none;
		text-shadow: 0 1px 1px rgba(0,0,0,0.15);
		line-height: normal;
		cursor: pointer;
		background-color: #077ab3;
		background-image: -moz-linear-gradient(top,#087fb6,#0573ae);
		background-image: -ms-linear-gradient(top,#087fb6,#0573ae);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#087fb6),to(#0573ae));
		background-image: -webkit-linear-gradient(top,#087fb6,#0573ae);
		background-image: -o-linear-gradient(top,#087fb6,#0573ae);
		background-image: linear-gradient(top,#087fb6,#0573ae);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#087fb6',endColorstr='#0573ae',GradientType=0);
		behavior: url('/public/css/PIE.htc');
		-webkit-box-shadow: inset 0 -3px 1px rgba(0,0,0,0.1);
		-moz-box-shadow: inset 0 -3px 1px rgba(0,0,0,0.1);
		box-shadow: inset 0 -3px 1px rgba(0,0,0,0.1);
	}
	
	button.magnifying-glass {border:none;box-shadow:none;}
	
	input[type="submit"]:hover,
	input[type="button"]:hover,
	button:hover,
	a.button:hover	{
		background-color: #2c8ebf;
		color:#FFF;
		background-image: -moz-linear-gradient(top,#2d92c2,#2a88ba);
		background-image: -ms-linear-gradient(top,#2d92c2,#2a88ba);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#2d92c2),to(#2a88ba));
		background-image: -webkit-linear-gradient(top,#2d92c2,#2a88ba);
		background-image: -o-linear-gradient(top,#2d92c2,#2a88ba);
		background-image: linear-gradient(top,#2d92c2,#2a88ba);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d92c2',endColorstr='#2a88ba',GradientType=0);
		text-decoration: none;
	}
	
	.button.white,
	.button.white:hover	{
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		text-align: center;
		display: inline-block;
		padding: 8px 10px;
		font-size: 1em;
		color: #FFF;
		text-decoration: none;
		text-shadow: 0 1px 1px rgba(0,0,0,0.15);
		line-height: normal;
		cursor: pointer;
		background-color: #fafafa;
		background-image: -moz-linear-gradient(top,#fbfbfb,#f9f9f9);
		background-image: -ms-linear-gradient(top,#fbfbfb,#f9f9f9);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbfbfb),to(#f9f9f9));
		background-image: -webkit-linear-gradient(top,#fbfbfb,#f9f9f9);
		background-image: -o-linear-gradient(top,#fbfbfb,#f9f9f9);
		background-image: linear-gradient(top,#fbfbfb,#f9f9f9);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb',endColorstr='#f9f9f9',GradientType=0);
		border-color: #f9f9f9 #f9f9f9 #d3d3d3;
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
		behavior: url('/public/css/PIE.htc');
		-webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.15);
		-moz-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.15);
		box-shadow: inset 0 -1px 1px rgba(0,0,0,0.15);
		border: 1px solid #e2e2e2;
		color: #718895 !important;
		font-weight: normal;
		position: relative;
		text-shadow: 0 1px #fff;
	}
	
	/* Fix firefox padding */
	button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
		padding: 0 !important;
		border: 0 none !important;
	}

	input[disabled],
	input[disabled]:hover,
	select[disabled],
	select[disabled]:hover,
	textarea[disabled],
	textarea[disabled]:hover {
		background: #ffffff;
		border: 1px solid #cccccc;
		color: #999999;
	}
	
	textarea {
		font-family: 'helvetica neue', helvetica, arial, sans-serif;
	}

	/* non css3 browsers required*/

	.customForm label.required, .customForm span.required {
		padding-left: 20px;
		background: url("/developer/resources/images/star-required.png") no-repeat scroll transparent;
		vertical-align: top;
	}

	:root .customForm label.required, :root .customForm span.required {
		padding-left: 0px;
		background: none;
		vertical-align: top;
	}

	.customForm label.required::after {
		content:url(/developer/resources/images/star-required.png);
		margin-left:5px;
		vertical-align: top;
	}

	.customForm  input[type="radio"] ~ span.required ::after,
	.customForm  input[type="checkbox"] ~ span.required::after
	 {
		content:url(/developer/resources/images/star-required.png);
		margin-left:5px;
		vertical-align: middle;
	}

	/* Checkboxes and Radio buttons - use CSS3 :root selector which non-CSS3 browsers will ignore */
	ul.noBulletList
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	ul.noBulletList li
	{
		margin: 0;
		padding: 3px 0;
	}

	input[type="radio"] ~ span,
	input[type="radio"] ~ span::before,
	input[type="checkbox"] ~ span,
	input[type="checkbox"] ~ span::before
	{
		display: inline-block;
		vertical-align: middle;
		padding: 1px;
	}


	/*specific to fix position for checkbox and radio in IE8*/

	input[type="radio"],
	input[type="checkbox"]
	{
		opacity: 0;
		position: relative;
		cursor:pointer;
	}

	:root input[type="radio"],
	:root input[type="checkbox"]
	{
		opacity: 0;
		position: absolute;
		cursor:pointer;
	}

	/*
	:root .formRadioGroup label:hover span::before,
	:root .formCheckboxGroup label:hover span::before
	{
		box-shadow: 0 0 2px #cccccc;
	}
	*/


	input[type="radio"] ~ span::before,
	input[type="checkbox"] ~ span::before
	{
		content: "";
		width: 15px;
		height: 15px;
		margin: 0 4px 0 0;
		line-height: 14px;
		text-align: center;
		border-radius: 100%;
	}

	input[type="checkbox"] ~ span::before
	{
		border-radius: 2px;
	}

	input[type="radio"]:checked ~ span::before
	{
		content: "\2022";
		font-size: 32pt;
		line-height: 17px;
	}

	input[type="checkbox"]:checked ~ span::before
	{
		content: "\2714";
		font-size: 12pt;
		line-height: 16px;
	}

/* consolidated gradient, border and color code */

	
	
    input[type="checkbox"] ~ span::before,
	input[type="checkbox"]:checked ~ span::before {
		color: #006FAE;
		border: 1px solid #DDD;
		margin-right:10px;
	}
	
	input[type="radio"] ~ span::before,
	input[type="radio"]:checked ~ span::before{
		color: #0298E2;
		border: 1px solid #DDD;
		margin-right:10px;
	}


	/*disabled radio checkbox styles*/
	input[type="radio"]:disabled ~ span::before,
	input[type="checkbox"]:disabled ~ span::before,
	input[type="radio"]:disabled :hover ~ span::before,
	input[type="checkbox"]:disabled :hover ~ span::before
	{
		background: #ffffff;
		border: 1px solid #cccccc;
		color: #999999;
	}


	.field_error input, 
	.field_error select,
	.field_error textarea,
	:root .field_error  input[type="radio"] ~ span::before,
	:root .field_error  input[type="checkbox"] ~ span::before,
	:root .field_error  input[type="radio"]:checked ~ span::before,
	:root .field_error  input[type="checkbox"]:checked ~ span::before	
	{
		border: 1px solid #ffe194;
 		color: #ff7200;
 		-moz-box-shadow: 0 0 5px rgba(255,225,148,.3);
		-webkit-box-shadow: 0 0 5px rgba(255,225,148,.3);
		box-shadow: 0 0 5px rgba(255,225,148,.3); 
	}
	
	.field_error input[type="submit"],
	.field_error input[type="submit"]:hover,
	.field_error input[type="button"],
	.field_error input[type="button"]:hover	
	{
		border: 0;
		color: white;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.field_error input:hover, 
	.field_error select:hover,
	.field_error textarea:hover,
	.field_error input[type="radio"]:hover ~ span::before,
	.field_error input[type="checkbox"]:hover ~ span::before,
	:root .field_error input[type="radio"]:hover ~ span::before,
	:root .field_error input[type="checkbox"]:hover ~ span::before
	{
		border: 1px solid #ffd260;
		-moz-box-shadow: 0 0 5px rgba(255,210,96,.3);
		-webkit-box-shadow: 0 0 5px rgba(255,210,96,.3);
		box-shadow: 0 0 5px rgba(255,210,96,.3); 
	}

	.field_error input[type="radio"]~ span.required::after,
	.field_error input[type="checkbox"]~ span.required::after
	{
		content: '* ';
		color: #ff7200;
	}



	/*File upload styles*/

	/* It's easier to calculate widths 
	 * with border-box layout */
	.helpPanel ul {
	  list-style:disc;
	}
	.helpPanel {
	  width: 330px !important;
	  padding-top: 40px!important;
	}
	.customfile-container * {
	  box-sizing:border-box;
	  -moz-box-sizing:border-box;
	  -webkit-box-sizing:border-box;
	}

	.customfile-container {
	  width: auto;
	}

	.customfile-container label:first-child {
	  width: auto;
	  display: block;
	  margin-bottom: 3px;
	}

	.customfile-wrap {
	  position: relative;
	  display:inline;
	} 

	.customfile-filename,
	.customfile-upload { 
	  margin: 0;
	  padding: 0;
	}

	.customfile-filename {
	  width: 200px !important;
	  overflow: visible!important;
	  padding: 9px 14px!important;
	  border-radius: 4px 0 0 4px!important;
	  -webkit-border-radius: 4px 0 0 4px!important;
	  -moz-border-radius: 4px 0 0 4px!important;
	  display:inline-block!important;
	}
	
	.customfile-filename:focus { 
	  outline: none;
	}

	.customfile-upload {
		background-color: #077ab3;
		background-image: -moz-linear-gradient(top,#087fb6,#0573ae);
		background-image: -ms-linear-gradient(top,#087fb6,#0573ae);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#087fb6),to(#0573ae));
		background-image: -webkit-linear-gradient(top,#087fb6,#0573ae);
		background-image: -o-linear-gradient(top,#087fb6,#0573ae);
		background-image: linear-gradient(top,#087fb6,#0573ae);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#087fb6',endColorstr='#0573ae',GradientType=0);
		border-color: #0573ae #0573ae #034264;
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
		behavior: url('/public/css/PIE.htc');
		-webkit-box-shadow: inset 0 -3px 1px rgba(0,0,0,0.1);
		-moz-box-shadow: inset 0 -3px 1px rgba(0,0,0,0.1);
		box-shadow: inset 0 -3px 1px rgba(0,0,0,0.1);
		-webkit-border-radius: 0px 4px 4px 0px;
		-moz-border-radius: 0px 4px 4px 0px;
		border-radius: 0px 4px 4px 0px;
		float:none;
		overflow: visible;
		margin-left: -1px; /* align with input */
		text-align: center;
		display: inline-block;
		padding: 8px 20px;
		height: 38px;
		font-size: 15px;
		color: #FFF;
		text-decoration: none;
		border:0;
		text-shadow: 0 1px 1px rgba(0,0,0,0.15);
		line-height: normal;
		cursor: pointer;
	}

	.customfile-upload:hover {
		border:0;
		background-color: #2c8ebf;
		color:#FFF;
		background-image: -moz-linear-gradient(top,#2d92c2,#2a88ba);
		background-image: -ms-linear-gradient(top,#2d92c2,#2a88ba);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#2d92c2),to(#2a88ba));
		background-image: -webkit-linear-gradient(top,#2d92c2,#2a88ba);
		background-image: -o-linear-gradient(top,#2d92c2,#2a88ba);
		background-image: linear-gradient(top,#2d92c2,#2a88ba);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d92c2',endColorstr='#2a88ba',GradientType=0);
		border-color: #2a88ba #2a88ba #1c5a7c;
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
		text-decoration: none;	
	}
	
	.customfile-upload::-moz-focus-inner { /* Fix firefox padding */
		padding: 0; 
		border: 0; 
	}
	
	/* IE border reset for file upload input*/
	.ie8 .customfile-filename,
	.ie9 .customfile-filename,
	.ie8 .customfile-upload,
	.ie9 .customfile-upload	{
	    border-radius: 0px;
	}
	


/*********** End test code *******************/

	.sectionHeaderPanel,
	.greyheader_acct,
	.panelContent .grid.oneColumn .column div.sectionHeaderPanel {
		padding: 6px 14px !important;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		
	   /* GRADIENT CODE */
	   /* fallback */
		background-color: #F3F3F3;
		/* chrome 10+, safari 5.1+ */
		background-image: -webkit-linear-gradient(#F3F3F3, #E3E3E3);
		/* firefox; multiple color stops */
		background-image: -moz-linear-gradient(top,#F3F3F3, #E3E3E3);
		/* ie 6+ */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3F3F3', endColorstr='#E3E3E3');
		/* ie8 + */
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3F3F3', endColorstr='#E3E3E3')";
		/* The "standard" */
		background-image: linear-gradient(#F3F3F3, #E3E3E3);
	}
	
	.greyheader_acct {
		height: 25px;
		width: auto;
		margin-bottom: 10px;
		line-height: 25px;
		padding: 0 14px !important;
    }

	/* inline for required * in the gray header form area*/
	.grayPanel .required {
		display:inline;
	}

	.grayFixedWidth {
		width: 525px;
	}

	/* adjust padding for IE8 */
	.ie8 input[type="radio"],
	.ie8 input[type="checkbox"]
	{
		padding:1px;
	}

	/* adjust radius for IE8 */
	.ie8 input,.ie8 select,.ie8 textarea,
	.ie9 input,.ie9 select,.ie9 textarea {
	   border-radius: 0;
	}

	.ie8 .sectionHeaderPanel,
	.ie8 .panelContent .grid.oneColumn .column div.sectionHeaderPanel,
	.ie9 .sectionHeaderPanel,
	.ie9 .panelContent .grid.oneColumn .column div.sectionHeaderPanel {
		border-radius: 0;
	}

	.customForm .formElementRow {
		margin-top: 7px !important;
    }
	.customForm .formElementLongRow{
		margin-top: 7px !important;
		width: 550px;
	}
	.customForm .altLine {
        background: #dddddd;
    }

    .customForm .formElementSpacer {
        margin: 7px 0;
    }

    .customForm label {
        display: block;
		margin-bottom: 15px;
		font-size: 10.5pt;
		font-weight: normal;
    }

	.customForm label.field_error { 
		color: #FF7200;
		padding: 0 0 3px 7px;
		display: block;
	}
	
	
	
    .customForm label .labelIndent {
	    display: block;
        padding-left: 29px;
    }

    .customForm .output_field { 
        display: none; 
    }

    .customForm .description {
		font-style: italic;
		font-weight: normal;
		position: relative;
		left: 290px;
		top: -65px;
		margin-bottom: -30px;
		width: 250px;
	}

    .customForm .toolTip.description { 
        left: 270px;
        top: -24px;
		width: 15px;
	}

    .customForm .toolTipWrapper { 
		left: -100px;
	}	
	
	.customForm .grid.twoColumn .column {
	    padding-left: 0 !important;
	}
	
	.uneditableProperty{
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 3px;
		font-size: 9pt;
		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-weight: normal;
		color: #333;
	}

	/*
    .panelContent .grid.oneColumn .column .framePanel .copy {
        padding: 6px 14px;
    }
	
	.grayheader {
        margin-bottom: 10px; 
		padding-left: 5px !important; 
		background:transparent url("../images/grayHeaderSprite.png") no-repeat scroll -995px -25px;
        height: 25px;
	}

    .grayheader span {
		display: block;
        padding-left: 14px !important;
		background:transparent url("../images/grayHeaderSprite.png") no-repeat scroll right top;
        height: 25px;
		line-height: 25px;
    }
	
	.grayheader span div.required {
		display: inline;
		padding-left: 5px !important;
    	background: url("/developer/images/form_asterisk.gif") no-repeat scroll left 1px transparent;
	}
	
	.grayheader span div.description {
		display: inline;
		margin-bottom: 0;
		left: 120px;
		top: 0;
	}

    .greyheader_acct {
        margin-bottom: 10px;
		padding-top: 0 !important;    
        line-height: 25px;
		background:transparent url("../images/525px_grayHeader.png") no-repeat scroll center top;
        height: 25px;
		width: 525px;
    }

    .greyheader_acct .copy {
        padding: 0 14px !important;
    }

	.greyheader_acct.divider {
		margin-top: 32px !important;
	}
	*/
	
	.tooltip { 
		position: absolute; 
		top: 0; 
		left: 0; 
		z-index: 3; 
		display: none;
		width: 255px; 
	}
	
	.tooltip .overlay {
		padding: 5px 8px !important;
		color: #333333;
		font-style: italic;
	}
	
	.tooltipLink {
		margin-left: 5px;
		display: inline-block; 
		background: url('/developer/images/info-tooltips.png') left top no-repeat; 
		width: 15px; 
		height: 15px;
		text-decoration: none;
		vertical-align: top;
		cursor: pointer;
	}
	.tooltipLink:hover {
		background: url('/developer/images/info-tooltips-hover.png') left top no-repeat; 
	}
	/* position for tooltop coming after textarea */
	textarea +.tooltipLink  {
		vertical-align:top;
		margin-top:25px;
	
	}

    a.tooltipLink:hover {
        text-decoration: none !important;
    }	
	
	.clearSpace {
		float:left;
		width:25px;
		padding: 10px 5px !important;
    }
    
    .joinSidebarBulletText {
		padding: 9px 15px !important;
	}
	
	.joinDialog {
		padding: 0px 0px 0px 15px !important;
		font-size: 10pt;
		float: left;
	}
	
	.joinDialogBullet {
		float: left;
		width: 20px;
		padding: 3px 5px !important;
		clear: both;
	}
	.joinDialogBulletText {
		float: left;
		width: 380px;
		padding: 3px 5px !important;
	}
	
	#clearDiv{
		clear: both;
	}

	
/***** REPORT BUG / FEEDBACK FORM*****/
	#reportBugForm textarea {
		width: 560px;
	}

/***** CONTACT US / FEEDBACK FORM*****/
	#contactForm textarea {
		width: 235px;
	}

	#contactForm .ticketLink {
		margin-left: 8px;
		line-height: 20px;
	}

/***** SHARE wITH A FRIEND (email_page) FORM*****/
	#shareForm textarea {
		width: 560px;
	}
	
/***** SERVER-SIDEVALIDATION *****/
	#captcha {
		padding: 6px;
		text-align: center;
		width: 245px;
    }

	.maybe_validity {
		padding: 6px;
		width: 250px;
	}	
	
	.yes_validity {
		padding: 6px;
		width: 250px;  
	}
	
	.yes_validity .errormsg {
		text-align: left;
		background: transparent url(../images/icon_OK.png) no-repeat left top;
		padding-left: 20px !important;
		min-height: 18px;
		color: #666666;
		font-weight: normal;
		font-style: italic;		
		padding-top: 2px !important;
		}	
		
	.maybe_validity .errormsg {
		text-align: left;
		background: transparent url(../images/icon_almost_OK.png) no-repeat left top;
		padding-left: 20px !important;
		min-height: 18px;
		color: #666666;
		font-weight: normal;
		font-style: italic;		
		padding-top: 2px !important;
    }		
	
	.no_validity {
		width: 253px;
	
    }

	.no_validity .errormsg {
		text-align: left;
		background: transparent url(../images/icon_NO.png) no-repeat left top;
		padding-left: 20px !important;
		min-height: 18px;
		color: #666666;
		font-weight: normal;
		font-style: italic;
		padding-top: 2px !important;
    }
	
	.errormsg_text {
		color: #666666;
		font-weight: bold;
    }

/***** ACCOUNT SETTINGS FORM *****/
/***** (Note: Multiple style definition here also used in Foundry form) *****/

	.acctBlueBoxContainer {
		width: 600px;
		margin: auto;
		margin-top: 15px;
	}
	
	.acctBlueBoxContainer ul
	{
		margin: 0;
	}
	
	.acctBlueBoxContainer ul li
	{
		list-style: none;
	}
	

/**** ACCOUNT SETTINGS FORM *****/

	#account_page .divider {
		clear: both;
		border-bottom: 1px #cccccc solid;
	}
	
	#account_page .panelContent {
		padding-top: 0;
	}

	#accountsettings_validity {
		width: 575px; 
		height: 38px; 
	}
	
	#account_page .panelContent ul {
		padding-bottom: 0px !important;
		vertical-align: top !important;
	}
	
	.contentContainer .tableForm {
		width: 600px;
		margin: 0 auto 0 auto;
	}
	
	
	.contentContainer .tableForm ul li {
		display: inline-block;
		list-style: none;
		margin-top: 0 !important;
		padding-top: 0 !important;
		margin-bottom: 0 !important;
	}
	
	.contentContainer .tableForm li {
		/*line-height: 20px;
		float: left;*/
		margin-top: 0 !important;
		padding-top: 0 !important;
	}
		
	 .tableForm li.city {
		width: 150px;
		margin: 0 5px 0 0px !important;
		float: left;
	}
		
	.tableForm li.state {
		width: 100px;
		float: left;
	}
	
	.tableForm li.zipcode {
		width: 300px;
		float: left;
	}
	
	.tableForm li.zipcode input {
		width: 140px;
	}

	#account_page .number {
		zoom: 1; /* clear floats inside in IE6 and IE7 */
	}
	
	#account_page .number input {
		width: 90px;
	}
	
	#account_page .number:after {
		/* clear floats in nice browsers */
		content: ".";
		display: block;
		height: 0;
		clear: both; 
		visibility: hidden;
	}
	
	.tableForm li.phonenumber {
		width: 100px;
		margin: 0 !important;
		padding: 0 !important;
		float: left;
	}

	#account_page .tableForm li.dash {
		width: 10px !important;
		float: left;
		vertical-align: top;
		margin: 0 0 0 0 !important;
		padding: 33px 0 0 3px !important;
		height: 50px !important;
	}
	
	#account_page .greyheader span {
		padding-left: 5px;
	}
	
	.acctBtn {
		padding: 10px 0 10px 0 !important;
	}
	
	
	#adminJMSPage .column7, 
	#adminJMSPage .column7 select, 
	#adminJMSPage .orgUserManageColumnHeader.column7 {
		width: 70px;
	}
	
	#adminJMSPage .orgUserManageColumn.column2, .orgUserManageColumn.column2 select, .orgUserManageColumnHeader.column2 {
    	width: 171px;
	}
	
	#adminJMSPage .orgUserManageColumn.column3, .orgUserManageColumn.column3 select, .orgUserManageColumnHeader.column3 {
    	width: 171px;
	}
	
	#adminJMSResultsContainer {
	    border-bottom-color: #DDDDDD;
	    border-bottom-style: solid;
	    border-bottom-width: 1px;
	    border-top-color: #DDDDDD;
	    border-top-style: solid;
	    border-top-width: 1px;
	    height: 388px;
	    overflow-x: auto;
	    overflow-y: auto;
	    position: relative;
	    width: 890px;
	}
	
	#eventLogViewerPage .column2,#eventLogViewerPage .column2 select,#eventLogViewerPage .orgUserManageColumnHeader.column2 {
    	width: 125px;
	}	
	
	#eventLogViewerPage .column3,#eventLogViewerPage .column3 select,#eventLogViewerPage .orgUserManageColumnHeader.column3 {
    	width: 140px;
	}
	
	#eventLogViewerPage .column4,#eventLogViewerPage .column4 select,#eventLogViewerPage .orgUserManageColumnHeader.column4 {
    	width: 140px;
	}
	
	#eventLogViewerPage .column6, #eventLogViewerPage .column6 select, #eventLogViewerPage .orgUserManageColumnHeader.column6 {
    	width: 170px;
	}
	
	#eventLogViewerPage .column7, #eventLogViewerPage .column7 select, #eventLogViewerPage .orgUserManageColumnHeader.column7 {
    	width: 200px;
	}

	#eventLogViewerPage .column8, #eventLogViewerPage .column8 select, #eventLogViewerPage .orgUserManageColumnHeader.column8 {
    	width: 70px;
	}
	
	#eventLogViewerPage .column9, #eventLogViewerPage .column9 select, #eventLogViewerPage .orgUserManageColumnHeader.column9 {
    	width: 65px;
	}
	
	#eventLogViewerPage .column10, #eventLogViewerPage .column10 select, #eventLogViewerPage .orgUserManageColumnHeader.column10 {
    	width: 125px;
	}

	#eventLogResultsContainer {
	    border-bottom-color: #DDDDDD;
	    border-bottom-style: solid;
	    border-bottom-width: 1px;
	    border-top-color: #DDDDDD;
	    border-top-style: solid;
	    border-top-width: 1px;
	    height: 388px;
	    overflow-x: auto;
	    overflow-y: auto;
	    position: relative;
	    width: 1180px;
	}	

	.widgetBottonBorder {
		border-bottom:1px solid #ccc;
	}

	.widgetLabel {
		color: #0670B4 !important;
	}

	.widgetLeft{
		margin-right:10px !important;
		float:left;
	}

	.widgetCode {
		width:950px !important;
	}

	.widgetTextArea {
		resize:none;
		width:636px;
		height:161px;
	}

	.widgetCopyBtn {
		margin-left:20px !important;
		float:left !important;
	}

	.widgetImageSelection {
		border: 1px solid red;
	}

	#copyCode {
		height:50px;
	}

/* ========================================================
  * Support Organization Pages Styles
  * ===================================================== */
  
  	.searchBtn {
  		float:left;
  		width:130px;
  		margin-top:15px;
  	}
  	
  	.tablePanel {
  		margin-top:10px !important;
  	}
	
	.resultContainer {
		margin-top:20px !important;
		height:300px !important;		
	}
	
	.multiselect {
		background-image:none !important; 
		opacity:1 !important; 
		position:relative !important; 
		border:1px solid #cccccc !important; 
		height:65px;
	}
