  <!-- Page Content -->
        <div class="row">

  			<div ui-view></div>   

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="blog.search.term">
                        <span class="input-group-btn">
                            <button class="variableWidth" type="button" ng-click="searchSelected()">
                                <span class="glyphicon glyphicon-search"></span>
							</button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Categories</h4>
                    <div class="row">
                        <div class="col-lg-6" ng-repeat="arrays in blog.categories">
                            <ul class="list-unstyled" ng-repeat="item in arrays">
                                <li><a ng-href="#/blog/categories/{{item}}">{{item}}</a></li>
                            </ul>
                        </div>

                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                     <h4>Tags</h4>
                    <div class="row">
                        <div class="col-lg-6" ng-repeat="arrays in blog.tags">
                            <ul class="list-unstyled" ng-repeat="item in arrays">
                                <li><a ng-href="#/blog/tags/{{item}}">{{item}}</a></li>
                            </ul>
                        </div>

                        <!-- /.col-lg-6 -->
                    </div>
                </div>

            </div>
            
      </div>
