            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Community
                    <small>Blog</small>
                </h1>
				
				<div ng-repeat="post in blog.posts">
	                <h2>
	                    <a href="#">{{post.title}}</a>
	                </h2>
	                <p>
	                    by <a href="index.php">{{post.author.username}}</a>&nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> Posted on {{post.date_created}}
	                </p>
	                <p>
	                	<img style="float: right; margin: 0px 15px 15px 0px;" ng-src="http://devpgm-wcm-stage.eng.mobilephone.net/blog{{post.image_url}}" height="250" width="250" />
	                	
	                	<div ng-bind-html="post.content"></div>
	            
	            		<br style="clear: both;" />    
					</p>
					<hr>	
				</div>
				
				<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></pagination>


            </div>