            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Community
                    <small>Blog</small>
                </h1>
                <div class="col-lg-12">
					<div ng-class="{'alert alert-success padded' : !flashMessages.isError(), 'alert alert-danger padded' : flashMessages.isError()}" ng-repeat="flashMessage in flashMessages.getMessage()">
					 {{flashMessage}}
					</div>
					
					<img src="/developer/resources/images/ajax-loader.gif" class="center-block margin" ng-show="loading"/>
					
					<div ng-hide="flashMessages.isError()">
						<div ng-repeat="post in blog.posts | limitTo:blogLimit" ui-sref-opts="{reload: true}">
			                <h4>
			                    <a ui-sref="blog.entry({slug: post.slug, id: post.ID})" ui-sref-opts="{reload: true}" ><div ng-bind-html="post.title"></div></a>
			                </h4>
			                <p>
			                    by {{post.author.username}}&nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> Posted on {{post.date_created}}
			                </p>
			                <p>
			                	<img style="float: right; padding: 10px 10px;" ng-show="post.image_url" ng-src="http://devpgm-wcm-stage.eng.mobilephone.net/blog{{post.image_url}}" />
			                	<div ng-bind-html="post.excerpt"></div><a ui-sref="blog.entry({slug: post.slug, id: post.ID})" ui-sref-opts="{reload: true}">Read more....</a>
			            
			            		<br style="clear: both;" />    
							</p>
							<hr>	
						</div>
						
						<pagination boundary-links="true" total-items="pagination.totalItems" ng-model="pagination.currentPage" class="pagination-sm" max-size="pagination.maxSize" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></pagination>
					</div>
				
				</div>

            </div>