<div id="att-footer"> 
	<div class="footer-top"> 
	    <section class="social-media-links visible-xs"> 
	      <ul> 
	        <li class="facebook"> 
	          <a href="http://www.facebook.com/attdeveloper" target="_blank"><span class="icon">Facebook</span></a> 
	        </li> 
	        <li class="twitter"> 
	          <a href="http://www.twitter.com/attdeveloper" target="_blank"><span class="icon">Twitter</span></a> 
	        </li> 
	      </ul> 
	      <ul> 
	        <li class="github"> 
	          <a href="https://github.com/attdevsupport" target="_blank"><span class="icon">GitHub</span></a> 
	        </li> 
	      </ul> 
	    </section> 
 
		<div id="sitemap"> 
	      <section class="apis"> 
	        <header>APIs & Tools</header> 
	        <ul> 
	          <li><a href="/apis">Our APIs</a></li> 
	          <li><a href="/sdks-plugins">SDKs, Plugins, & More</a></li> 
	          <li><a href="/success-stories">Success Stories</a></li> 
	          <li><a href="/text-button">AT&T Text Button</a></li> 
	        </ul> 
	      </section> 
 
	      <section class="resources"> 
	        <header>Additional Resources</header> 
	        <ul> 
	          <li><a href="/technical-library">Technical Library</a></li> 
	          <li><a href="/developer/device_list.jsp?passedItemId=3100060">Device References and Specs</a></li> 
	        </ul> 
	      </section> 
 
	      <section class="support"> 
	        <header>Support</header> 
	        <ul> 
	          <li><a href="/support">Contact Us</a></li> 
	          <li><a href="/developer/sso/salesforceRedirect.jsp?_fn=SessionTrigger">Submit a Ticket</a></li> 
	          <li><a href="/support/faqs">FAQs</a></li> 
	        </ul> 
	      </section> 
	    </div> 
 
	    <section class="social-media-links  hidden-xs"> 
	      <ul> 
	        <li class="facebook"> 
	          <a href="http://www.facebook.com/attdeveloper" target="_blank"><span class="icon">Facebook</span></a> 
	        </li> 
 
	        <li class="twitter"> 
	          <a href="http://www.twitter.com/attdeveloper" target="_blank"><span class="icon">Twitter</span></a> 
	        </li> 
 
	        <li class="github"> 
	          <a href="https://github.com/attdevsupport" target="_blank"><span class="icon">GitHub</span></a> 
	        </li> 
	      </ul> 
 
	    </section> 
 
	</div> 
 
	<div class="footer-bottom"> 
	    <a class="logo" href="http://www.att.com/" target="_blank" title="AT&T"> 
	      <img width="30" alt="AT&T Developer" src="/developer/resources/images/layout/logo-globe.png" data-at2x="/developer/resources/images/layout/hi-res/logo-globe.png" class="att-logo"> 
	    </a> 
 
	    <div id="links"> 
			<nav> 
				<a href="http://www.att.com/gen/general?pid=11561" target="_blank">Terms of Use</a> 
				<a href="http://www.att.com/gen/privacy-policy?pid=2506" target="_blank">Privacy Policy</a> 
			</nav> 
			<p><a href="http://www.att.com/gen/privacy-policy?pid=2587" target="_blank">&copy;2015 AT&T Intellectual Property.</a> All rights reserved.</p> 
	    </div> 
 
 
	    <div id="trademark-notes"> 
	      <p>AT&T, the AT&T logo and all other AT&T marks contained herein are trademarks of<br>AT&T Intellectual Property and/or AT&T affiliated companies. AT&T 36USC220506</p> 
	    </div> 
	</div> 
 
</div>