<div id="att-header">
	<a href="/" target="_self" class="logo">
		<img src="/developer/resources/images/layout/logo-developer.png" alt=""> 
	</a> 

	<!-- <script src="/developer/resources/js/search-header.js" type="text/javascript"></script> -->
	
	<form id="quick-search" class="hide-border" action="/search-results">
		<button class="magnifying-glass form-icon search-btn off-text" type="submit" value="Search" title="Click here to see search results" onclick="searchResults(); return false;">
		</button>
		<input id="search" type="text" title="Please enter only alphanumeric characters, dashes, or ampersands." placeholder="Type here to search" autocomplete="off" data-provide="typeahead" data-source="[ ]">
	</form>  

<!-- component menu nav -->
<nav class="menuComponent">
	<div class="menu panel">
		<ul class="menuDepth_1">
			<li>
    			<a href="/apis" target="_self" class="expands">APIs</a>
				<ul class="menuDepth_2">
					<li>
						<span>AT&amp;T API Platform</span>
						<ul class="menuDepth_3">
							<li>
								<a href="/apis/enhanced-webrtc" target="_self">Enhanced WebRTC</a>
								<ul class="menuDepth_4">
									<li>
										<a href="/apis/enhanced-webrtc" target="_self" class="media button blue small">Tour</a>
									</li>
									<li>
										<a href="/apis/enhanced-webrtc/docs" target="_self" class="media button blue small">Docs</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/apis/advertising" target="_self">Advertising</a>
								<ul class="menuDepth_4">
									<li>
           								<a href="/apis/advertising" target="_self" class="media button blue small">Tour</a>
           							</li>
           							<li>
           								<a href="/apis/advertising/docs" target="_self" class="media button blue small">Docs</a>
           							</li>
           						</ul>
           					</li>
           					<li>
           						<a href="/apis/speech" target="_self">Speech</a>
								<ul class="menuDepth_4">
									<li>
										<a href="/apis/speech" target="_self" class="media button blue small">Tour</a>
									</li>
									<li>
           								<a href="/apis/speech/docs" target="_self" class="media button blue small">Docs</a>
           							</li>
           						</ul>
           					</li>
           					<li>
           						<a href="/apis/in-app-messaging" target="_self">In-App Messaging</a>
           						<ul class="menuDepth_4">
           							<li>
           								<a href="/apis/in-app-messaging" target="_self" class="media button blue small">Tour</a>
           							</li>
           							<li>
           								<a href="/apis/in-app-messaging/docs" target="_self" class="media button blue small">Docs</a>
           							</li>
           						</ul>
           					</li>
           					<li>
           						<a href="/apis/sms-mms" target="_self">SMS/MMS</a>
           						<ul class="menuDepth_4">
           							<li>
           								<a href="/apis/sms-mms" target="_self" class="media button blue small">Tour</a>
           							</li>

									<li>
										<a href="/apis/sms/docs" target="_self" class="media button blue small" >Docs</a>
									</li>
								</ul>
							</li>
							<li>
  									<a href="/apis/address-book" target="_self">Address Book</a>
  									<ul class="menuDepth_4">
  										<li>
  											<a href="/apis/address-book" target="_self" class="media button blue small">Tour</a>
  										</li>
  										<li>
  											<a href="/apis/address-book/docs" target="_self" class="media button blue small">Docs</a>
  										</li>
  									</ul>
  								</li>
							<li>
								<a href="/apis/device-capabilities" target="_self">Device Capabilities</a>
								<ul class="menuDepth_4">
									<li>
										<a href="/apis/device-capabilities" target="_self" class="media button blue small">Tour</a>
									</li>
									<li>
           								<a href="/apis/device-capabilities/docs" target="_self" class="media button blue small">Docs</a>
           							</li>
           						</ul>
           					</li>
           				</ul>
           			</li>
					<li>
						<span>AT&amp;T Specialized API Solutions</span>
						<ul class="menuDepth_3">
							<li>
								<a href="/apis/mobile-identity-toolkit" target="_self">Mobile Identity Toolkit</a>
								<ul class="menuDepth_4">
									<li>
										<a href="/apis/mobile-identity-toolkit" target="_self" class="media button blue small" style="width:224px; max-width:none; min-width:224px; text-align:center;">Visit Tour</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="https://m2x.att.com" target="_blank">M2X</a>
								<ul class="menuDepth_4">
									<li>
										<a href="https://m2x.att.com/" target="_blank" class="media button blue small" style="width:224px; max-width:none; min-width:224px; text-align:center;">Visit Site</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/apis/sponsored-data" target="_self">Sponsored Data</a>
								<ul class="menuDepth_4">
									<li>
										<a href="/apis/sponsored-data" target="_self" class="media button blue small" style="width:224px; max-width:none; min-width:224px; text-align:center;">Visit Tour</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="http://developer.att.com/developer/legalAgreementPage.jsp?passedItemId=10100309" target="_self">U-verse&reg; Enabled</a>
								<ul class="menuDepth_4">
									<li>
										<a href="http://developer.att.com/developer/legalAgreementPage.jsp?passedItemId=10100309" target="_self" class="media button blue small" style="width:224px; max-width:none; min-width:224px; text-align:center;">Visit Tour</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="http://www.business.att.com/enterprise/Service/mobility-services/near-field-communications/verify-connect/#tab3" target="_blank">Verify Connect</a>
								<ul class="menuDepth_4">
									<li>
										<a href="http://www.business.att.com/enterprise/Service/mobility-services/near-field-communications/verify-connect/#tab3" target="_blank" class="media button blue small" style="width:224px; max-width:none; min-width:224px; text-align:center;">Visit Site</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="menu dropdown">
		<ul class="menuDepth_1">
			<li>
				<a href="/application-resource-optimizer" target="_self" class="expands">App Optimizer</a>
				<ul class="menuDepth_2">
					<li>
						<a href="/application-resource-optimizer" target="_self">Tour</a> 
 					</li>
 					<li>
 						<a href="/application-resource-optimizer/docs" target="_self">Documentation</a> 
					</li>
					<li>
						<a href="/application-resource-optimizer/news" target="_self">News</a>
 					</li>
					<li>
						<a href="/application-resource-optimizer/docs/best-practices" target="_self">Best Practices</a>
 					</li>
 					<li>
 						<a href="/developer/sso/lithiumRedirect.jsp?noauth=true&amp;referer=http://developerboards.att.lithium.com/t5/AT-T-Application-Resource/bd-p/ARO" target="_blank">Forum</a>
 					</li>
 				</ul>
 			</li>
			<li>
				<a href="/community" target="_self" class="expands">Community</a>
				<ul class="menuDepth_2">
					<li>
						<a href="/community/events" target="_self">Hackathons &amp; Events</a>
 					</li>
 					<li>
 						<a href=" https://developer.att.com/developer/sso/lithiumRedirect.jsp?noauth=true&amp;referer=http://developerboards.att.lithium.com/t5/Forums/ct-p/FURM" target="_self">Forums</a>
 					</li>
 					<li>
 						<a href=" https://developer.att.com/developer/sso/lithiumRedirect.jsp?noauth=true&amp;referer=http://developerboards.att.lithium.com/t5/AT-T-Developer-Program-Blogs/bg-p/Blogs" target="_self">Blog</a>
 					</li>
 				</ul>
 			</li>
 			<li>
 				<a href="/pricing" target="_self">Pricing</a>
 			</li>
		</ul>
	</div>

	<img src="/developer/resources/images/layout/keep-alive.gif">

	<div class="login-nav">
		<ul>
			<li>
				<a href="/developer/mvc/auth/login?destPage=%2F%3F%3FDPSLogout%3Dtrue%26_requestid%3D5657" class="login">Sign In</a>
			</li>
			
			<li>
				<a class="button default orange getstarted" href="/developer/flow/apiPlaygroundFlow.do?assetId=12600093&amp;destPage=https://matrix.bf.sl.attcompute.com/apps" id="header-common_46_Get-Started-Free">Get Started Free</a>
			</li>
		</ul>
	</div>
</nav>

</div>