<div class="menu dropdown top-nav">
	<ul class="menuDepth_1">
		<li class="mega-menu">
			<a target="_self" class="expands">APIs<span class="plus_minus">+</span></a>
			<ul class="menuDepth_2" style="display: none;">
				<li>
					<span>AT&amp;T API Platform</span>
					<ul class="menuDepth_3">
						<li>
							<a target="_self" href="/apis/enhanced-webrtc">Enhanced WebRTC</a> 
							<ul class="menuDepth_4">
								<li><a class="button blue small" target="_self" href="/apis/enhanced-webrtc">Tour</a></li>
								<li><a class="button blue small" target="_self" href="/apis/enhanced-webrtc/docs">Docs</a></li>
							</ul>
						</li>
						<li>
							<a href="/apis/advertising" target="_self">Advertising</a>
							<ul class="menuDepth_4">
								<li><a href="/apis/advertising" target="_self" class="button blue small">Tour</a></li>
								<li><a href="/apis/advertising/docs" target="_self" class="button blue small">Docs</a></li>
							</ul>
						</li>
						<li>
							<a href="/apis/speech" target="_self">Speech</a>
							<ul class="menuDepth_4">
								<li><a href="/apis/speech" target="_self" class="button blue small">Tour</a></li>
								<li><a href="/apis/speech/docs" target="_self" class="button blue small">Docs</a></li>
							</ul>
						</li>
						<li>
							<a href="/apis/in-app-messaging" target="_self">In-App Messaging</a>
							<ul class="menuDepth_4">
								<li><a href="/apis/in-app-messaging" target="_self" class="button blue small">Tour</a></li>
								<li><a href="/apis/in-app-messaging/docs" target="_self" class="button blue small">Docs</a></li>
							</ul>
						</li>
						<li>
							<a href="/apis/sms-mms" target="_self"  id="footer-block-_10_SMS/MMS">SMS/MMS</a>
							<ul class="menuDepth_4">
								<li><a href="/apis/sms-mms" target="_self" class="button blue small">Tour</a></li>
								<li><a href="/apis/sms/docs" target="_self" class="button blue small">Docs</a></li>
							</ul>
						</li>
						<li>
							<a href="/apis/address-book" target="_self">Address Book</a>
							<ul class="menuDepth_4">
								<li><a href="/apis/address-book" target="_self" class="button blue small">Tour</a></li>
								<li><a href="/apis/address-book/docs" target="_self" class="button blue small">Docs</a> </li>
							</ul>
						</li>
						<li>
							<a href="/apis/device-capabilities" target="_self">Device Capabilities</a>
							<ul class="menuDepth_4">
								<li><a href="/apis/device-capabilities" target="_self" class="button blue small">Tour</a></li>
								<li><a href="/apis/device-capabilities/docs" target="_self" class="button blue small">Docs</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<span>AT&amp;T Specialized API Solutions</span>
					<ul class="menuDepth_3">
						<li>
							<a href="/apis/mobile-identity-toolkit" target="_self">Mobile Identity Toolkit</a>
							<ul class="menuDepth_4">
								<li><a href="/apis/mobile-identity-toolkit" target="_self" class="button blue small" style="width:224px; max-width:none; min-width:224px; text-align:center;">Visit Tour</a></li>
							</ul>
						</li>
						<li>
							<a href="https://m2x.att.com" target="_blank">M2X</a>
							<ul class="menuDepth_4">
								<li><a href="https://m2x.att.com/" target="_blank" class="button blue small" style="width:224px; max-width:none; min-width:224px; text-align:center;">Visit Site</a></li>
							</ul>
						</li>
						<li>
							<a href="/apis/sponsored-data" target="_self">Sponsored Data</a>
							<ul class="menuDepth_4">
								<li><a href="/apis/sponsored-data" target="_self" class="button blue small" style="width:224px; max-width:none; min-width:224px; text-align:center;">Visit Tour</a></li>
							</ul>
						</li>
						<li>
							<a href="http://developer.att.com/developer/legalAgreementPage.jsp?passedItemId=10100309" target="_self">U-verse® Enabled</a>
							<ul class="menuDepth_4">
								<li><a href="http://developer.att.com/developer/legalAgreementPage.jsp?passedItemId=10100309" target="_self" class="button blue small" style="width:224px; max-width:none; min-width:224px; text-align:center;">Visit Tour</a></li>
							</ul>
						</li>
						<li>
							<a target="_blank" href="http://www.business.att.com/enterprise/Service/mobility-services/near-field-communications/verify-connect/#tab3">Verify Connect</a> 
							<ul class="menuDepth_4">
								<li><a class="button blue small" target="_blank" href="http://www.business.att.com/enterprise/Service/mobility-services/near-field-communications/verify-connect/#tab3">Visit Site</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<a target="_self" class="expands">App Optimizer<span class="plus_minus">+</span></a>
			<ul class="menuDepth_2">
				<li>
					<a href="/application-resource-optimizer" target="_self">Tour</a>
				</li>
				<li>
					<a href="/application-resource-optimizer/docs" target="_self">Documentation</a>
				</li>
				<li>
					<a href="/application-resource-optimizer/news" target="_self">News</a>
				</li>
				<li>
					<a href="/application-resource-optimizer/docs/best-practices" target="_self">Best Practices</a>
				</li>
				<li>
					<a href="http://developerboards.att.lithium.com/t5/AT-T-Application-Resource/bd-p/ARO" target="_blank">Forum</a>
				</li>
			</ul>
		</li>
		<li>
			<a target="_self" class="expands">Community<span class="plus_minus">+</span></a>
			<ul class="menuDepth_2">
				<li><a href="/community/events" target="_self">Hackathons &amp; Events</a></li>
				<li><a href="http://developerboards.att.lithium.com/t5/Forums/ct-p/FURM" target="_self">Forums</a></li> <li><a href="http://developerboards.att.lithium.com/t5/AT-T-Developer-Program-Blogs/bg-p/Blogs" target="_self">Blog</a></li>
			</ul>
		</li>
		<li><a href="/pricing" target="_self">Pricing</a></li>
		<li><a href="javascript:void(0);" class="remove-responsive">View Full Website</a></li>
	</ul>
</div>